/* General styles */
*{
    margin: 0;
}
body {
    /* font-family: Arial, sans-serif; */
    background-color: #f8f9fa;
    margin: 0;
    /* padding: 20px; */
}

/* Button styles */
.button {
    display: flex;
    justify-content:center;
    
    gap: 50px;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #ff5757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}

button:hover {
    background-color: #e04d4d;
}

.collect{
    background-color: black;
    padding: 10px;
    border-radius: 4px;
   display: flex;
   justify-content:center;
}

#filter,#offers,#rating,#alcohol{
    margin-right: 10px;
}

/* Card styles */
#root {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 30px;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    /* transform: scale(1.03); */
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.rating {
    background: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.card-footer,
.card-location {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}
